*{
  margin: 0;
  padding: 0;
  background-color: #eeee ;
}


.header {
  text-align: center;
  font-family: "Helvetica Neue";
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
  background-color: blue !important;
}